---
import NextJS from "./icons/NextJS.astro"
import ReactJS from "./icons/ReactJS.astro"
import Sass from "./icons/Sass.astro"
import Zustand from "./icons/Zustand.astro"
import TypeScript from "./icons/TypeScript.astro"
import NestJS from "./icons/NestJS.astro"
import MongoDB from "./icons/MongoDB.astro"
import NodeJS from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJS.astro"
import MaterialUI from "./icons/MaterialUI.astro"
import ViteJS from "./icons/ViteJS.astro"
import CPlusPlus from "./icons/CPlusPlus.astro"
import Astro from "./icons/AstroIcon.astro"
import Python from "./icons/Python.astro"
import Kotlin from "./icons/Kotlin.astro"
import Docker from "./icons/Docker.astro"
import GitHub from "./icons/GitHub.astro"
import Link from  "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Tailwind from "./icons/Tailwind.astro"
import JavaScript from "./icons/JavaScript.astro"

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: ReactJS,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Sass,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: NextJS,
  },
  ZUSTAND: {
    name: "Zustand",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Zustand,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: TypeScript,
  },
  NEST: {
    name: "Nest.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: NestJS,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: MongoDB,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: NodeJS,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: ExpressJS,
  },
  MaterialUI: {
    name: "Material.ui",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: MaterialUI,
  },
  VITE: {
    name: "Vite.js",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: ViteJS,
  },
  CPLUSPLUS: {
    name: "C++",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: CPlusPlus,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Astro,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Python,
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Kotlin,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Docker,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F0F4F8] text-black dark:text-white dark:bg-[#2D3748]",
    icon: JavaScript,
  },
}

const PROJECTS = [
  {
    title: "Wave - Dating App",
    description:
      "Meet people who share similar interests and make friends or something more. Create an avatar based on your preferences and only share photos with your matches, strengthening and making more personal.",
    link: "https://front-wave.vercel.app/",
    github: "https://github.com/No-Country/s10-17-ft-js-ts",
    image: "/projects/832shots_so.webp",
    tags: [TAGS.REACT, TAGS.NEXT, TAGS.SASS, TAGS.ZUSTAND, TAGS.TYPESCRIPT, TAGS.NEST, TAGS.MONGO],
  },
  {
    title: "Pocketpal - Digital Wallet",
    description:
      "Solve your financial problems, forget the possibility of losing your cards or had cash on. With just a few simple taps, you can deposit money, transfer, check your balance and more.",
    link: "https://pocket-pal-brown.vercel.app/",
    github: "https://github.com/No-Country/c12-36-ft-reactnative",
    image: "/projects/434shots_so.webp",
    tags: [TAGS.REACT, TAGS.MaterialUI, TAGS.VITE, TAGS.NODE, TAGS.EXPRESS, TAGS.MONGO],
  },
  // {
  //   title: "Aurora - Meditation App (In Progress)",
  //   description:
  //     "Find calm with Aurora, a meditation app designed to help you in your life. Through guided meditation sessions and serene environments, Aurora provides a sanctuary for mindfulness and relaxation. With some IA implementations, this immersive app can improve the best.",
  //   link: "https://aurora.netlify.app/",
  //   github: "https://github.com/TiagoAlvarezSchiaffino/Aurora",
  //   image: "",
  //   tags: [],
  // },
  {
    title: "Decora - Interior Design Platform",
    description:
      "A platform dedicated to inspiring creativity and transforming spaces. Discover curated collections, design tips, and more to bring your vision to life.",
    link: "https://decora.netlify.app/",
    github: "https://github.com/TiagoAlvarezSchiaffino/Decora",
    image: "",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.JAVASCRIPT, TAGS.TAILWIND],
  },
  // {
  //   title: "Quickglish - Sport English Class (In Progress)",
  //   description:
  //     "Platform where top-tier teachers offer courses on neuroscience, English, and sports, all in one. Designed for professional athletes and anyone eager to learn English, providing access to recorded classes, free content, and premium services. Where you can learn English in group or solitary!",
  //   link: "https://quickglish.netlify.app/",
  //   github: "https://github.com/TiagoAlvarezSchiaffino/Quickglish",
  //   image: "",
  //   tags: [],
  // },
  {
    title: "Connect4 - Board Game",
    description:
      "Connect4 is a classic game reimagined for local multiplayer or single-player against AI. Choose from various difficulty levels to challenge the AI or against a friend. Advanced algorithms and machine learning techniques come together to create an engaging gaming experience.",
    link: "https://connectfour.netlify.app/",
    github: "https://github.com/TiagoAlvarezSchiaffino/Connect4",
    image: "",
    tags: [TAGS.CPLUSPLUS, TAGS.KOTLIN],
  },
  // {
  //   title: "MELIClone - Mercado Libre Clone (In Progress)",
  //   description:
  //     "Recreation of the renowned 'Mercado Libre' website. Through the use of AI, it delivers improvements and an incredible renovation. Additionally, it offers a marketplace service similar to 'Facebook Marketplace', where users can offer services for small jobs within existing categories, promoting entrepreneurship.",
  //   link: "https://mercado-libre.netlify.app/",
  //   github: "https://github.com/TiagoAlvarezSchiaffino/MELIClone",
  //   image: "",
  //   tags: [],
  // },
  // {
  //   title: "Linkedin-scrapper-bot - Discord Bot (In Progress)",
  //   description:
  //     "Create a bot that welcomes new users and categorizes them within a Discord server by scraping data from their LinkedIn accounts. This bot automates the process of gathering information from profiles. A seamless experience for new members joining the server.",
  //   github: "https://github.com/TiagoAlvarezSchiaffino/linkedin-scrapper-bot",
  //   image: "",
  //   tags: [],
  // },
  {
    title: "BitMind - Personal Blog",
    description:
      "Tech blog that transcends boundaries, blending insights from various disciplines. Explores diverse topics from technology, psychology, philosophy, and more. Through thought-provoking content and innovative perspectives. Explore the depths of human thought and imagination.",
    link: "https://bitmind.netlify.app/",
    github: "https://github.com/TiagoAlvarezSchiaffino/BitMind",
    image: "",
    tags: [TAGS.ASTRO, TAGS.PYTHON, TAGS.DOCKER, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2 relative">
          <div class="relative">
            <div class="flex flex-col items-center gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-4 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                loading="lazy"
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`Screenshot ${image}`}
              />
              <ul class="flex gap-x-2 flex-wrap left-0 right-0 bg-black dark:bg-white p-2 rounded-b-xl absolute bottom-0 opacity-0 transition duration-500 ease-in-out md:group-hover:opacity-100">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 mb-2`}
                    >
                      <tag.icon class="size-4" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-yellow-400 mb-2">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <p class="text-lg font-semibold text-gray-800 dark:text-white mb-4 text-pretty">{description}</p>

            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Demo
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
