---
import NextJS from "./icons/NextJS.astro"
import ReactJS from "./icons/ReactJS.astro"
import Sass from "./icons/Sass.astro"
import Zustand from "./icons/Zustand.astro"
import TypeScript from "./icons/TypeScript.astro"
import NestJS from "./icons/NestJS.astro"
import MongoDB from "./icons/MongoDB.astro"
import NodeJS from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJS.astro"
import MaterialUI from "./icons/MaterialUI.astro"
import ViteJS from "./icons/ViteJS.astro"
import CPlusPlus from "./icons/CPlusPlus.astro"
import Astro from "./icons/AstroIcon.astro"
import Python from "./icons/Python.astro"
import Kotlin from "./icons/Kotlin.astro"
import Docker from "./icons/Docker.astro"
import Blender from "./icons/Blender.astro"
import Dart from "./icons/Dart.astro"
import Figma from "./icons/Figma.astro"
import Flutter from "./icons/Flutter.astro"
import Illustrator from "./icons/Illustrator.astro"
import JavaScript from "./icons/JavaScript.astro"
import MySQL from "./icons/MySQL.astro"
import Photoshop from "./icons/Photoshop.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import PremierePro from "./icons/PremierePro.astro"
import Tableau from "./icons/Tableau.astro"
import Tailwind from "./icons/Tailwind.astro"
import Tensorflow from "./icons/Tensorflow.astro"
import ThreeJS from "./icons/ThreeJS.astro"
import UnrealEngine from "./icons/UnrealEngine.astro"
import WordPress from "./icons/WordPress.astro"
import Cinema4D from "./icons/Cinema4D.astro"
import Maya from "./icons/Maya.astro"
import MotionBuilder from "./icons/MotionBuilder.astro"
import Spanish from "@/components/languages/ES.astro"
import English from "@/components/languages/EN.astro"
import German from "@/components/languages/DE.astro"
import Portuguese from "@/components/languages/PT.astro"

const languages = [
  { name: "Spanish", icon: Spanish },
  { name: "English", icon: English },
  { name: "German", icon: German },
  { name: "Portuguese", icon: Portuguese }
]

const TAGS = [
  {
    name: "React.js",
    class: "bg-black text-white",
    icon: ReactJS,
  },
  {
    name: "Sass",
    class: "bg-black text-white",
    icon: Sass,
  },
  {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  {
    name: "Zustand",
    class: "bg-[#003159] text-white",
    icon: Zustand,
  },
  {
    name: "Typescript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  {
    name: "Nest.js",
    class: "bg-[#003159] text-white",
    icon: NestJS,
  },
  {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
  {
    name: "Node.js",
    class: "bg-[#003159] text-white",
    icon: NodeJS,
  },
  {
    name: "Express.js",
    class: "bg-[#003159] text-white",
    icon: ExpressJS,
  },
  {
    name: "Material.ui",
    class: "bg-[#003159] text-white",
    icon: MaterialUI,
  },
  {
    name: "Vite.js",
    class: "bg-[#003159] text-white",
    icon: ViteJS,
  },
  {
    name: "C++",
    class: "bg-[#003159] text-white",
    icon: CPlusPlus,
  },
  {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: Astro,
  },
  {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
  {
    name: "Kotlin",
    class: "bg-[#003159] text-white",
    icon: Kotlin,
  },
  {
    name: "Docker",
    class: "bg-[#003159] text-white",
    icon: Docker,
  },
  {
    name: "Blender",
    class: "bg-[#003159] text-white",
    icon: Blender,
  },
  {
    name: "Dart",
    class: "bg-[#003159] text-white",
    icon: Dart,
  },
  {
    name: "Figma",
    class: "bg-[#003159] text-white",
    icon: Figma,
  },
  {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: Flutter,
  },
  {
    name: "Illustrator",
    class: "bg-[#003159] text-white",
    icon: Illustrator,
  },
  {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: MySQL,
  },
  {
    name: "Photoshop",
    class: "bg-[#003159] text-white",
    icon: Photoshop,
  },
  {
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: PostgreSQL,
  },
  {
    name: "PremierePro",
    class: "bg-[#003159] text-white",
    icon: PremierePro,
  },
  {
    name: "Tableau",
    class: "bg-[#003159] text-white",
    icon: Tableau,
  },
  {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  {
    name: "tensorflow",
    class: "bg-[#003159] text-white",
    icon: Tensorflow,
  },
  {
    name: "ThreeJS",
    class: "bg-[#003159] text-white",
    icon: ThreeJS,
  },
  {
    name: "UnrealEngine",
    class: "bg-[#003159] text-white",
    icon: UnrealEngine,
  },
  {
    name: "WordPress",
    class: "bg-[#003159] text-white",
    icon: WordPress,
  },
  {
    name: "Cinema4D",
    class: "bg-[#003159] text-white",
    icon: Cinema4D,
  },
  {
    name: "Maya",
    class: "bg-[#003159] text-white",
    icon: Maya,
  },
  {
    name: "MotionBuilder",
    class: "bg-[#003159] text-white",
    icon: MotionBuilder,
  },
  {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
]
---

<section class="mt-5">
  <p class="text-center text-white text-xl md:text-2xl font-bold dark:text-black">Stack</p>
  <div class="flex flex-wrap justify-center gap-6 mt-8">
    {TAGS.map((skill, index) => (
      <div class="flex flex-col items-center relative" id={`tag-${index}`}>
        {typeof skill.icon === "function" ? (
          <skill.icon class="w-12 h-12 bg-[#003159] rounded-full flex items-center justify-center text-white mb-2" />
        ) : (
          <img src={skill.icon} class="w-12 h-12 bg-[#003159] rounded-full mb-2" alt={skill.name} />
        )}
        <p class="text-center text-xs text-white bg-black bg-opacity-75 dark:text-black dark:bg-white dark:bg-opacity-75 rounded-md py-1 px-2 opacity-0 transition-opacity duration-300 absolute bottom-0 transform translate-y-6 pointer-events-none">{skill.name}</p>
      </div>
    ))}
  </div>
  <div class="mt-8 text-center">
    <p class="text-white text-xl md:text-2xl font-bold dark:text-black">Languages</p>
    <ul class="mt-4 flex justify-center items-center space-x-6">
      {languages.map((language, index) => (
        <li class="flex flex-col items-center relative" id={`language-${index}`}>
          {typeof language.icon === "function" ? (
            <language.icon class="w-16 h-16" />
          ) : (
            <img src={language.icon} class="w-16 h-16" alt={language.name} />
          )}
          <p class="text-xs text-white bg-black bg-opacity-75 dark:text-black dark:bg-white dark:bg-opacity-75 rounded-md py-1 px-2 opacity-0 transition-opacity duration-300  translate-y-1 pointer-events-none">{language.name}</p>
        </li>
      ))}
    </ul>
  </div>
</section>

<style>
  .flex-col:hover p {
    opacity: 1;
  }
</style>