---
import NextJS from "./icons/NextJS.astro"
import ReactJS from "./icons/ReactJS.astro"
import Sass from "./icons/Sass.astro"
import Zustand from "./icons/Zustand.astro"
import TypeScript from "./icons/TypeScript.astro"
import NestJS from "./icons/NestJS.astro"
import MongoDB from "./icons/MongoDB.astro"
import NodeJS from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJS.astro"
import MaterialUI from "./icons/MaterialUI.astro"
import ViteJS from "./icons/ViteJS.astro"
import CPlusPlus from "./icons/CPlusPlus.astro"
import Astro from "./icons/Astro.astro"
import Python from "./icons/Python.astro"
import Kotlin from "./icons/Kotlin.astro"
import Docker from "./icons/Docker.astro"
import Blender from "./icons/Blender.astro"
import Dart from "./icons/Dart.astro"
import Figma from "./icons/Figma.astro"
import Flutter from "./icons/Flutter.astro"
import Illustrator from "./icons/Illustrator.astro"
import JavaScript from "./icons/JavaScript.astro"
import MySQL from "./icons/MySQL.astro"
import Photoshop from "./icons/Photoshop.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import PremierePro from "./icons/PremierePro.astro"
import Tableau from "./icons/Tableau.astro"
import Tailwind from "./icons/Tailwind.astro"
import Tensorflow from "./icons/Tensorflow.astro"
import ThreeJS from "./icons/ThreeJS.astro"
import UnrealEngine from "./icons/UnrealEngine.astro"
import WordPress from "./icons/WordPress.astro"
import Cinema4D from "./public/Cinema4D.png"
import Maya from "./public/Autodesk Maya.png"
import MotionBuilder from "./public/Autodesk MotionBuilder.png"
import Spanish from "@/components/languages/ES.astro"
import English from "@/components/languages/EN.astro"
import German from "@/components/languages/DE.astro"
import Portuguese from "@/components/languages/PT.astro"

const languages = [
  { name: "Spanish", icon: Spanish },
  { name: "English", icon: English },
  { name: "German", icon: German },
  { name: "Portuguese", icon: Portuguese }
]

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: ReactJS,
  },
  SASS: {
    name: "Sass",
    class: "bg-black text-white",
    icon: Sass,
  },
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  ZUSTAND: {
    name: "Zustand",
    class: "bg-[#003159] text-white",
    icon: Zustand,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-[#003159] text-white",
    icon: TypeScript,
  },
  NEST: {
    name: "Nest.js",
    class: "bg-[#003159] text-white",
    icon: NestJS,
  },
  MONGO: {
    name: "MongoDB",
    class: "bg-[#003159] text-white",
    icon: MongoDB,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#003159] text-white",
    icon: NodeJS,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#003159] text-white",
    icon: ExpressJS,
  },
  MaterialUI: {
    name: "Material.ui",
    class: "bg-[#003159] text-white",
    icon: MaterialUI,
  },
  VITE: {
    name: "Vite.js",
    class: "bg-[#003159] text-white",
    icon: ViteJS,
  },
  CPLUSPLUS: {
    name: "C++",
    class: "bg-[#003159] text-white",
    icon: CPlusPlus,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: Astro,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
  KOTLIN: {
    name: "Kotlin",
    class: "bg-[#003159] text-white",
    icon: Kotlin,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#003159] text-white",
    icon: Docker,
  },
  BLENDER: {
    name: "Blender",
    class: "bg-[#003159] text-white",
    icon: Blender,
  },
  DART: {
    name: "Dart",
    class: "bg-[#003159] text-white",
    icon: Dart,
  },
  FIGMA: {
    name: "Figma",
    class: "bg-[#003159] text-white",
    icon: Figma,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: Flutter,
  },
  ILLUSTRATOR: {
    name: "Illustrator",
    class: "bg-[#003159] text-white",
    icon: Illustrator,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#003159] text-white",
    icon: MySQL,
  },
  PHOTOSHOP: {
    name: "Photoshop",
    class: "bg-[#003159] text-white",
    icon: Photoshop,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: PostgreSQL,
  },
  PREMIERE: {
    name: "PremierePro",
    class: "bg-[#003159] text-white",
    icon: PremierePro,
  },
  TABLEAU: {
    name: "Tableau",
    class: "bg-[#003159] text-white",
    icon: Tableau,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  TENSORFLOW: {
    name: "tensorflow",
    class: "bg-[#003159] text-white",
    icon: Tensorflow,
  },
  THREEJS: {
    name: "ThreeJS",
    class: "bg-[#003159] text-white",
    icon: ThreeJS,
  },
  UNREALENGINE: {
    name: "UnrealEngine",
    class: "bg-[#003159] text-white",
    icon: UnrealEngine,
  },
  WORDPRESS: {
    name: "WordPress",
    class: "bg-[#003159] text-white",
    icon: WordPress,
  },
  CINEMA4D: {
    name: "Cinema4D",
    class: "bg-[#003159] text-white",
    icon: "/Cinema4D.png",
  },
  MAYA: {
    name: "Maya",
    class: "bg-[#003159] text-white",
    icon: "/Autodesk Maya.png",
  },
  MOTIONBUILDER: {
    name: "MotionBuilder",
    class: "bg-[#003159] text-white",
    icon: "/Autodesk MotionBuilder.png",
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#003159] text-white",
    icon: JavaScript,
  },
}
---

<section class="mt-5">
  <p class="text-center text-gray-200 text-2xl font-bold dark:text-gray-800">Stack</p>
  <div class="flex flex-wrap justify-center gap-6 mt-8">
    {Object.keys(TAGS).map((skill, index) => (
      <div class="flex flex-col items-center" onclick={`showSkill('${skill}')`}>
        {typeof TAGS[skill].icon === "function" ? (
          <TAGS[skill].icon class="w-12 h-12 bg-[#003159] rounded-full flex items-center justify-center text-white mb-2" />
        ) : (
          <img src={TAGS[skill].icon} class="w-12 h-12 bg-[#003159] rounded-full mb-2" alt={TAGS[skill].name} />
        )}
        <p class="text-center text-sm">{TAGS[skill].name}</p>
      </div>
    ))}
  </div>
  <div class="mt-8 text-center">
    <p class="text-gray-200 text-xl font-bold dark:text-gray-800">Languages</p>
    <ul class="mt-4 flex justify-center items-center space-x-6">
      {languages.map((language, index) => (
        <li class="flex flex-col items-center">
          {typeof language.icon === "function" ? (
            <language.icon class="w-16 h-16" />
          ) : (
            <img src={language.icon} class="w-16 h-16" alt={language.name} />
          )}
          <span>{language.name}</span>
        </li>
      ))}
    </ul>
  </div>
</section>
